tensorflow
blessed
botocore
cached-property
cement
certifi
chardet
docker
docker-compose
docker-pycreds
dockerpty
docopt
docutils
idna
jmespath
jsonschema
pathspec
python-dateutil
requests
semantic-version
six
tabulate
termcolor
texttable
urllib3
wcwidth
websocket-client
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
keras
opencv-python
opencv-python-headless
numpy